@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    background-color: blanchedalmond;
    text-decoration: none;
}

.logo img{
    height: 80px;
    padding-top: 7px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 56px 0px 56px;
    align-items: center;
}


.loginbtn{
    border-radius: 7px;
    padding: 7px 17px;
    color: white;
    background-color: #1865F2;
}

.signupbtn{
  border-radius: 7px;
  padding: 7px 17px;
  color: white;
  background-color: #1865F2;
}

.profilebtn{
  border-radius: 7px;
  padding: 7px 17px;
  color: white;
  background-color: #1865F2;
}

.signoutbtn{
  border: none;
  border-radius: 7px;
  padding: 7px 17px;
  color: white;
  background-color: #1865F2;
}

.uploadbtn{
  border-radius: 7px;
  padding: 7px 17px;
  color: white;
  background-color: #1865F2;

}

.downloadbtn{
    border-radius: 7px;
    padding: 7px 17px;
    color: white;
    background-color: #1865F2;
  }

  .homebtn{
    border-radius: 7px;
    padding: 7px 17px;
    color: white;
    background-color: #1865F2;
  }

  .aboutbtn{
    border-radius: 7px;
    padding: 7px 17px;
    color: white;
    background-color: #1865F2;
  }
  .forumbtn{
      border-radius: 7px;
      padding: 7px 17px;
      color: white;
      background-color: #1865F2;
  }
  

