@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    background-color: blanchedalmond;
    text-decoration: none;
}

.logo img{
  height: 80px;
  padding-top: 7px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 56px 0px 56px;
    align-items: center;
}

.homebtn{
  border-radius: 7px;
  padding: 7px 17px;
  color: white;
  background-color: #1865F2;
}
.info-container{
    display: flex;
    align-items: center;
    padding: 70px 100px;
}

.info-container h1{
    font-size: 1.625rem;
    font-weight: 600;
    text-align: center;
    margin-top: -100%;
    margin: 16px 100px 16px 100px;
}

.info-container h2{
    font-size: 1.625rem;
    font-weight: 600;
    text-align: center;
    margin-top: -100%;
    margin: 16px 100px 16px 100px;
}

.info-container h3{
    font-size: 1.625rem;
    font-weight: 600;
    text-align: center;
    margin-top: -100%;
    margin: 16px 100px 16px 100px;
}

.avatar-container{
    display: flex;
    align-items: center;
    padding: 70px 100px;
}

.avatar-image img{
  height: 512px;
  width: 512px;
  padding-top: 7px;
}
