@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap'); 

/* *{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    background-color: blanchedalmond;
    text-decoration: none;
} */
.bottom{
    color: white;
    position: relative;
    width: 850px;
    padding: 25px 50px 25px 50px;
    margin: 50px 50px 50px 50px ;
    border-radius: 10px;
    /* text-align: center; */
    box-shadow: 2.5px 2.5px 5px black;
    background-color: #1865F2;
}
.bottom h4{
    background-color: #1865F2;
    color: white;
}
.bottom h2{
    background-color: #1865F2;
    color: white;
}
.bottom p{
    background-color: #1865F2;
    color: white;
}

.forumTitle{
        
    /* display: flex; */
    font-size: 2rem;
    font-weight: bold;
    margin: 16px 70px 16px 25px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 25px 50px 50px 25px;
}

.forumInfo{
    background-color: #1865F2;
    color: white;
}
 .h2{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    background-color: blanchedalmond;
    text-decoration: none;

 }

