@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    background-color: blanchedalmond;
    text-decoration: none;
}
.banner-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}

.banner-container img{
    height: 600px;
    width: 700px;
}

.banner-container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 16px 70px 16px 70px;
}

.banner-container h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 16px 70px 16px 70px;
}
.form-email form{
    display: flex;
    justify-content: center;
    padding: 10px 30px;
}

.form-email input{
    height: 62px;
    width: 450px;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    padding-left: 15px;
}

.form-email button{
    color: white;
    background-color: #1865F2;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    padding: .7rem 30px;
    font-weight: bold;
}

.info-container{
    display: flex;
    align-items: center;
    padding: 70px 100px;
}

.info-container h1{
    font-size: 1.625rem;
    font-weight: 600;
    text-align: center;
    margin: 16px 100px 16px 100px;
}

.info-container p{
    font-size: 1.4rem;
    font-weight: 100;
    text-align: left;
    margin: 16px 20px 16px 70px;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
}

.title h1{
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;

}

.buttons{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.b1{
    border-radius: 7px;
    background-color: #1865F2;
    color: white;
    padding: 15px 80px;
    font-weight: bold;
    border-style: solid;
    border-color: black;
}

.b2{
    border-radius: 7px;
    background-color: #1865F2;
    color: white;
    padding: 15px 80px;
    font-weight: bold;
    border-style: solid;
    border-color: black;
}

.b3{
    border-radius: 7px;
    background-color: #1865F2;
    color: white;
    padding: 15px 80px;
    font-weight: bold;
    border-style: solid;
    border-color: black;
}