@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    background-color: blanchedalmond;
    text-decoration: none;
}

.upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}

.container img{
    height: 500px;
    width: 700px;
}

.container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 16px 70px 16px 70px;
}

.upload button{
    background-color:#1865F2;
    padding:12px 26px;
    color: white;
    font-size:22px;
    font-weight: bold;
    border-radius: 7px;
    cursor:pointer;
    display:inline-block;
    line-height:1;
    text-transform: uppercase;
    width:100%;
    border-style: solid;
    border-color: black;
}

.button:hover{
    background-color:dodgerblue;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 0px 50px;

}

.box{
    padding: 15px;
}