@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    background-color: blanchedalmond;
    text-decoration: none;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: blanchedalmond;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: blanchedalmond;
}

main{
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar{
  width: 0.25rem;
}

main::-webkit-scrollbar-track{
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb{
  background: #6649b8;
}

form{
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: blanchedalmond;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button{
  width: 20%;
  background-color: #1865F2;
}

input{
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background-color: blanchedalmond;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

button{
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in{
  color: white;
  background: #1865F2;
  max-width: 400px;
  margin: 0 auto;
}

ul, li {
  text-align: left;
  list-style: none;
}

p{
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message{
  display: flex;
  align-items: center;
}

.sent{
  flex-direction: row-reverse;
}

.sent p{
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.received p{
  background: #e5e5ea;
  color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 56px 0px 56px;
    align-items: center;
}

.homebtn{
  border-radius: 7px;
  padding: 7px 17px;
  color: white;
  background-color: #1865F2;
}
