.quizMenu-container{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 300px 0px 150px;
}
.title{
        
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 100px 80px 100px 50px;
}
.quizInfo{
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    background-color: #1865F2;
}
.quizMenu-container h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 50px 70px 60px 70px;
}
.quizMenu-container h2 
{
    color: white;
    background-color: #1865F2;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 20px 70px 16px 70px;
}
.quizMenu-container p {
    color: white;
    background-color: #1865F2;
    font-size: 1.4rem;
    font-weight: 100;
    text-align: left;
    margin: 16px 20px 16px 70px;
    
}