<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset = "ISO-8859-1">
        <title>Home</title>
        <link rel = "stylesheet" type "text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    </head>
    <body>
        <div class = "container">
            <h1>Welcome to Index</h1>
        </div>
        <div>
            <h3><a th:href ="@{/register}">Register</a></h3>
        </div>
        <div>
            <h4><a href="/login" >Login</a></h4>
        </div>
    </body>
</html>