@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    background-color: blanchedalmond;
    text-decoration: none;
}

.page-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px 20px 50px;
}

.page-container img{
    height: 600px;
    width: 700px;
}

.page-container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 16px 70px 16px 70px;
    text-align:left;
}

.page-container h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 16px 70px 16px 70px;
}

.resources{
    padding: 50px 50px 50px 50px;
}

.resources h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 16px 70px 16px 70px;
}

.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 100px;
}

.feedback h3{
    font-size: 2rem;
    font-weight:650;
    color: #311b92;
    text-align: center;
    margin: 16px 70px 16px 70px;
    padding-bottom: 40px;
    
}

.feedback button{
    color: white;
    background-color: #1865F2;
    border-style: solid;
    border-color: black;
    border-radius: 9px;
    padding: .7rem 30px;
    font-weight: bold;
}
    


/* .list-group-item{
    font-size: 2rem;
    text-align: center;
    margin: 16px 70px 16px 70px;
} */



.links h1 {
    padding: 10px 10px;
    text-align: center;
    font-size: x-large;

}

.links{
    font-size: 2rem;
    text-align:left;
    margin: 16px 70px 16px 70px;
}

.list {
    list-style:decimal;
    padding: 12px;
}

.links a{
    color: black;
    text-decoration: underline
    
}

/* mouse over link */
.links a:hover {
color: blue;  
}

/* selected link */
.links a:active {
color: hotpink;
}

.links p{
    text-decoration: none;
}

.body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    padding: 0px 50px 20px 50px;
}

.maths h1{
    text-align: center;
    font-weight: bold;
    font-size:2rem;
    /* font-size: xx-large; */
    padding: 20px 0px 20px;
    background-color:peachpuff;
}

.chem h1{
    text-align: center;
    font-weight: bold;
    font-size:2rem;
    padding: 20px 0px 20px;
    background-color:peachpuff;
}

.cs h1{
    text-align: center;
    font-weight: bold;
    font-size:2rem;
    padding: 20px 0px 20px;
    background-color:peachpuff;
    /* padding: 50px 0px 10px; */
}

.recent-upload h1{
    text-align: center;
    font-weight: bold;
    font-size:2rem;
    padding: 20px 0px 20px;
    background-color:peachpuff;
    /* padding: 50px 0px 10px; */
}

.math-img{
    height: 500px;
    width: 500px;
}

.recent-upload-img{
    height: 500px;
    width: 500px;
}